.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 10%;
    display: flex;
    justify-content: flex-start;
}

.item {
    font-size: 16px;
    font-weight: 400;
    margin: 3% 0;
    display: flex;
    justify-content: flex-start;
}

.grade {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
}

.grade>* {
    margin-bottom: 5%;
}

.status {
    font-weight: 700;
}

button {
    width: 158px;
    height: 48px;
    background-color: #186DD6;
    color: white;
    border-radius: 24px;
}