.filter {
    margin: 2% 0;
    display: flex;
}

.switch {
    display: flex;
    flex-flow: row nowrap;
}

.distance {
    width: 760px;
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}