.nav {
    display: flex;
    margin: 4% 0 0 34%;
}

.item {
    margin: 0 3%;
}

a {
    color: #000;
}

a.active {
    text-decoration: none;
    font-weight: 700;
}

.counter {
    background-color: gray;
    padding: 0 3% 3% 3%;
    height: 15px;
    color: white;
    border-radius: 24px;
}